<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:400,400i" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | relative_url }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
</head>
